*
!/common/
!/common/**
!/docs/
!/docs/**
!/engine/
!/engine/**
!/icons/
!/icons/**
!/src/
!/src/**.c
!/src/**.h
!/.github/
!/*.sh
!/CONTRIBUTING.md
!/LICENSE
!/Makefile
!/README.md
.**
!/.gitattributes
!/.gitignore
