*
!/docs/
!/docs/**
!/internal/
!/internal/**
!/src/
!/src/**
!/tools/
!/tools/**
!/*.sh
!/CONTRIBUTING.md
!/LICENSE
!/Makefile
!/README.md
!/TODO.md
.**
!/.github/
!/.github/**
!/.gitattributes
!/.gitignore
