*
!/common/
!/common/**
!/docs/
!/docs/**
!/engine/
!/engine/**
!/icons/
!/icons/**
!/src/
!/src/**
!/tools/
!/tools/**
!/.github/
!/*.sh
!/CONTRIBUTING.md
!/LICENSE
!/Makefile
!/README.md
.**
__pycache__/
*.py[cod]
*$py.class
!/.gitattributes
!/.gitignore
