#include "version.h"
#define _STR(x) #x
#define STR(x) _STR(x)

#if defined(MODULE_ENGINE)
    #define PSRC_MD "PlatinumSrc engine"
    #define PSRC_ICON "icons/engine.ico"
#elif defined(MODULE_SERVER)
    #define PSRC_MD "PlatinumSrc server"
    #define PSRC_ICON "icons/server.ico"
#elif defined(MODULE_EDITOR)
    #define PSRC_MD "PlatinumSrc map editor"
    #define PSRC_ICON "icons/editor.ico"
#endif
#ifdef PSRC_DBGLVL
    #define PSRC_MODULEDESC PSRC_MD " (debug build)"
#else
    #define PSRC_MODULEDESC PSRC_MD
#endif

MAINICON ICON PSRC_ICON
1 VERSIONINFO
{
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {
            VALUE "ProductName", "PlatinumSrc"
            VALUE "ProductVersion", STR(PSRC_BUILD)
            VALUE "FileDescription", PSRC_MODULEDESC
            VALUE "LegalCopyright", "Licensed under the BSL 1.0"
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04E4
    }
}
